@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f6fe;
  --foreground: black;
  --title-color: #080b5e;
}

[data-theme='dark'] {
  --background: #020213;
  --foreground: white;
  --title-color: red;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
