@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f6fe;
  --foreground: black;
  --title: #080b5e;
  --subtitle: #070746;
  --card: white;
}

[data-theme='dark'] {
  --background: #020213;
  --foreground: white;
  --title: white;
  --subtitle: white;
  --card: #0c0c17;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
